# Values para entorno Staging

replicaCount: 1

image:
  repository: docker.io/tekiroz/devops-lab
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

resources:
  requests:
    cpu: 50m
    memory: 100Mi

env:
  BACKGROUND_COLOR: blue

namespace:
  create: true
  name: devops-lab-staging

